<footer class="marketing-site-footer">
    <div class="row nomaxwidth column">
        <ul class="menu">
            <li><a href="/page/introduction">Introduction</a></li>
            <li><a href="/table">Data</a></li>
            <li><a href="/page/investigators">PIs</a></li>
        </ul>
    </div>
    <div class="marketing-site-footer-bottom">
        <div class="row  nomaxwidth">
            <div class="column">
                <p>&copy; 2017 No rights reserved</p>
            </div>

        </div>
    </div>
</footer>
