<div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu menu-hover-lines " data-dropdown-menu>
                    <a class="menu-text" href="/">Project</a>
                    <li class="menu">
                        <a >About</a>
                        <ul class="menu vertical" data-submenu>
                            <li><a href="/page/introduction">Introduction</a></li>
                            <li><a href="/page/investigators">Investigators</a></li>
                        </ul>
                    </li>
                    <li><a href="/cy">Cytoscape</a></li>
                    <li><a href="/table">Data</a></li>
                    <li><a href="/file">File</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="#">Login</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>