<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link rel='stylesheet' href='/static/css/foundation.css'/>
    <link rel='stylesheet' href='/static/css/custom.css'/>


</head>
<body>

<!-- Start Top Bar -->
<%- include('../block/navbar') -%>
<!-- End Top Bar -->

<!-- Start Top Bar -->
<%- include('../block/header') -%>
<!-- End Top Bar -->

<form method="POST" action="/users/register">
  <div class="login-background">
    <label for="username"><b>Username:</b></label>
    <input type="text" name="username" placeholder="Enter UserName" required=""><br>
    <label for="password"><b>Password:</b></label>
    <input type="password" name="password" placeholder="Enter Password" required=""><br>
    <label for="confirm"><b>Confirm Password:</b></label>
    <input type="password" name="confirm" placeholder="Confirm Password" required=""><br>
      <input type="submit" value="Register">
  </div>
</form>
