
<!-- Start Top Bar -->
<%- include('../block/header') -%>
<!-- End Top Bar -->

</br>
<div class="row column ">
        <div class="small-12 medium-2 medium-offset-1 text-center columns">
            <img src="http://localhost:3000/static/images/ppl2.png" alt="investigators"/>
            <a href="https://biochem.missouri.edu/faculty/faculty-members/thelenj/index.php">Jay Thelen</a>

        </div>
        <div class="small-12 medium-2 text-center columns">
            <img src="http://localhost:3000/static/images/ppl1.png" alt="investigators"/>
            <a href="https://www.danforthcenter.org/scientists-research/principal-investigators/douglas-allen">Douglas
                Allen</a>
        </div>
        <div class="small-12 medium-2 text-center  columns">
            <img src="http://localhost:3000/static/images/ppl3.png" alt="investigators"/>
            <a href="https://www.usm.edu/chemistry-biochemistry/faculty/philip-d-bates">Philip Bates</a>

        </div>
        <div class="small-12 medium-2 text-center columns">
            <img src="http://localhost:3000/static/images/ppl4.png" alt="investigators"/>
            <a href="https://biochem.missouri.edu/faculty/faculty-members/kooa/index.php">Abe Koo</a>

        </div>
        <div class="small-12 medium-2 text-center  columns end">
            <img src="http://localhost:3000/static/images/ppl5.png" alt="investigators"/>
            <a href="https://engineering.missouri.edu/faculty/dong-xu/">Dong Xu</a>

        </div>


        <div class="small-10 small-centered  column  textrow" style="padding-top: 2rem">
            <p><b>PI:</b>
                <br>Jay Thelen, Univ. of Missouri&nbsp;<a href="mailto:thelenj@missouri.edu">thelenj@missouri.edu</a></p>
            <p><b>Co-PIs:</b>
                 <br>Douglas Allen, Danforth Center,USDA-ARS&nbsp;<a href="mailto:DAllen@danforthcenter.org">DAllen@danforthcenter.org</a>
                <br>Philip Bates, Univ. Southern Mississippi&nbsp;<a  href="mailto:Philip.Bates@usm.edu">Philip.Bates@usm.edu</a>
                <br>Abe Koo, Univ. of Missouri&nbsp;<a href="mailto:kooaj@missouri.edu">kooaj@missouri.edu</a>
                <br>Dong Xu, Univ. of Missouri&nbsp;<a  href="mailto:xudong@missouri.edu">xudong@missouri.edu</a></p>
        </div>


    </div>
</div>




