
<!-- aborted -->
<!-- start table Bar -->

<% if (typeof (data) != "undefined") { %>
    <div class="row columns">

        <div class="columns small-10 small-centered table-scroll ">


            <table class="hover table-expand">
                <thead>
                <tr class="table-expand-row">
                    <% th = Object.keys(data[0]) %>
                    <% for(let i = 1; i < th.length; i++) { %>
                        <th> <%= th[i] %> </th>
                    <% } %>
                </tr>

                </thead>
                <tbody>

                <% for(let i = 0; i < data.length; i++) { %>
                    <tr class="table-expand-row" data-open-details>
                        <% for(var attribute in data[i]) { %>
                            <% if (attribute == "_id") {
                                continue
                            } else if (attribute == "sequence") { %>
                                <td><span class="expand-icon"></span></td>
                            <% } else { %>
                                <td><%= data[i][attribute] %></td>
                            <% } %>
                        <% } %>
                    </tr>
                    <tr class="table-expand-row-content">
                        <td colspan="15" class="table-expand-row-nested">

                            <p><a href="/table/show/?id=<%= data[i]["_id"] %>"><%= data[i]["sequence"] %></a></p>
                        </td>

                    </tr>

                <% } %>

                </tbody>
            </table>

        </div>
    </div>
    <!-- End table Bar -->

<% } %>

